.main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.url{
    font-weight: 700;
    color: chartreuse;
    text-decoration: double;
    transition: 0.15s all;
}
.url:hover{
    color: rgb(95, 190, 0);
    text-decoration: underline;
}
.Variants{
    border-radius: 20px;
    display: flex;
    width: 75dvw;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
    position: relative;
    backdrop-filter: blur(100px);
    box-shadow: 0 0px 8px rgba(0,0,0,0.5);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    padding: 20px;
    margin: 20px;
    gap: 20px;
}
.Name{
    font-size: 30px;
    align-self: center;
    filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 2px 8px);
}
.Sub-Name-Box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Sub-Name{
    filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 2px 8px);
    font-size: 20px;
}

.CompareTable{
    border-radius: 20px;
    display: flex;
    width: 75dvw;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 75dvh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    padding: 20px;
}

.chooseProfFrame{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.TableCals{
    position: relative;
    height: 85%;
    width: 100%;
}

.profOption{
    background-color: rgb(241, 241, 191);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    transition: all 0.15s;
}

.chosed,.profOption:active{
    background-color: beige;
    border: solid black 1px;
    border-bottom: none;
}

.profOption:hover{
    filter: brightness(0.96);
}

#profOption0{
    border-radius: 20px 0px 0px 0px;
}
#profOption1, #profOption2{
    border-radius: 0px;
}
#profOption3{
    border-radius: 0px 20px 0px 0px;
}

.infoTable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.infoTable div{
    background-color: beige;
    border: solid black 1px;
    text-align: center;
    display: flex;
    align-items: center;
    word-break: break-word;
    font-size: 88%;
    padding: 5px;
    justify-content: center;
}

.Table{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    scrollbar-width: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Table::-webkit-scrollbar{
    display: none;
}

.header{
    height: 50px;
}

.header div{
    padding: 0px;
    width: auto;
}

@media (max-width: 800px) {
    .chooseProfFrame{
        font-size: 100%;
        grid-template-rows: 0fr 0fr;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: auto;
        align-items: start;
    }
    .Table{
        flex-direction: row;
        overflow-x: scroll;
    }
    .Table .infoTable{
        flex-direction: column;
    }
    .infoTable{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: auto;
        height: 100%;
    }
    .CompareTable{
        width: 90dvw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #profOption0, #profOption1, #profOption2, #profOption3{
        border-radius: 0px;
    }
    .infoTable div{
        word-break:keep-all;
        padding: 0px;
        width: 100%;
        height: auto;
    }
    .TableCals{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .header div{
        background-color:antiquewhite;
    }
}

