.start_button{
    background-color: beige;
    display: inline;
    font-size: 200%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

.buttons{
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
    user-select: none;
    transition: all 0.15s;
}

.buttons:hover{
    padding: 6px 21px;
}

.buttons:active{
    padding: 4px 19px;
    opacity: 0.9;
}