body{
    background-image: linear-gradient(to left bottom, #140537, #004188, #007eb4, #00b99f, #0eee52);
    margin: 0;
    height: 927px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeIcon{
    width: 100px;
}

.main{
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100px;
    gap: 10px;
}

.Alerts{
    color: rgb(255, 140, 140);
    font-size: 20px;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: light;
    align-self: center;
    position: relative;
}

input{
    border: none;
    background-color: rgba(245, 245, 220, 0);
    text-align: center;
    border-bottom: solid black 1px;
    border-radius: 2px;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input:focus{
    outline: none;
}

.SignFrame{
    display: flex;
    background-color: beige;
    padding: 50px;
    border-radius: 15px;
    flex-direction: column;
    width: 300px;
    height: 150px;
    justify-content: start;
    gap: 20px;
}

.PollFrame{
    display: flex;
    background-color: beige;
    padding: 25px;
    font-family: "Montserrat Alternates", sans-serif;
    border-radius: 15px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 500px;
    height: 475px;
    gap: 20px;
}

.answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 50%;
    height: 300px;
    padding: 10px;
}

.answerBody{
    background-color: azure;
    padding: 5px;
    border: solid black 1px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s;
}

.answerBody:hover{
    filter: brightness(0.95);
    background-color: rgb(235, 255, 179);
    margin: -6px;
    padding: 6px;
}

.answerBody:active{
    filter: brightness(0.925);
    margin: -7px;
    padding: 7px;
}

.answerBody.chosed{
    background-color: rgb(187, 255, 0);
    border-color: salmon;
}

.Question{
    font-size: large;
    align-self: baseline;
    position: relative;
}

.Counter{
    position: relative;
    font-size: small;
    background-color: azure;
    padding: 3px;
    border-radius: 4px;
    align-self: self-end;
}

.meme{
    width:50px; 
    margin-left:5px
}

@media (max-width: 900px) {
    body{
        height: 800px;
    }
    .PollFrame{
        width: 80%;
    }
    .answers{
        width: 80%;
    }
    @media (max-height:800px) {
        body{
            height: 300px;
        }
        .PollFrame{
            width: 80%;
            margin-top: 13.5%;
            gap: 1px;
        }
        .answers{
            height: 80%;
            margin: 5px;
        }
    }
    @media (max-height:400px) {
        body{
            height: 200px;
        }
        .PollFrame{
            width: 80%;
            height: 150%;
            margin-top: 20%;
            gap: 1px;
        }
        .answers{
            height: 70%;
            width: 50%;
        }
        .answerBody{
            height: 10%;
        }
        .meme{
            width: 25px;
        }
    }
}